<div class="projects-all">
    <h2 class="title">Projects</h2>
    <div class="project-cards">
        <a class="link-a" [href]="project.url" *ngFor="let project of projects">
            <div class="card-project">
                <div class="icon-align">
                    <i [ngClass]="project.icon"></i>
                </div>
                <img class="logo-image" [src]="project.img" alt="Project Image">
                <span class="name">{{ project.name }}</span>
            </div>
        </a>
    </div>
</div>