.nav {
    height: 6rem;
    width: 100%;
    background-color: #040504;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0rem;

    .logo {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 100%;
        }
    }

    .nav-items {
        display: flex;
        flex-direction: row;
        gap: 1rem;


        .active {
            color: #daa520;
        }

        .item {
            cursor: pointer;
        }

        .item:hover {
            text-decoration: underline;
            text-decoration-color: #daa520;
        }
    }

    .open-mobile {
        display: none;

        i {
            cursor: pointer;
        }
    }
}


@media screen and (max-width: 768px) {
    .nav {


        .logo {


            img {
                height: 70%;
            }
        }

        .nav-items {
            font-size: 0.8rem;


            .active {}

            .item {}

            .item:hover {}
        }

        .open-mobile {


            i {}
        }
    }
}

@media screen and (max-width: 491px) {
    .nav {


        .logo {


            img {
                height: 70%;
            }
        }

        .open {
            display: flex !important;
        }

        .nav-items {
            display: none;


            .active {}

            .item {}

            .item:hover {}
        }

        .open-mobile {
            display: block;

            i {
                cursor: pointer;
            }
        }
    }
}